<section class="section has-text-white has-text-centered">

    <h2 class="is-size-5 has-text-weight-light">Buscar</h2>
     
      <br>
      
    <div class="field">
        
         <p class="control has-icons-right">
             
             <span class="icon is-small is-right">
                  <i class="fas fa-search"></i>
             </span>
             
        </p>
    
    </div>

</section>