<section class="hero is-dark is-fullheight">
    
  <div class="hero-body has-text-centered">
      
    <div class="container">
        
      <h1 class="title has-text-weight-light">
        SEU APP DE <br />
        <span class="has-text-primary">MÚSICA</span>
      </h1>
     
    </div>
    
  </div>
  
</section>